body{
    margin: 0;
}

#app{
    margin-left: 20%;
}
label{
    font-weight: bold;
}

.info{
    background-color: #c0bcbc;
    padding: 0.4em;
    margin-bottom: 1em;
    width: 75%;
}

.btn-add-exp{
    margin-bottom: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width: 75%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #c0bcbc;
}